torch>=1.13.1
transformers==4.33.2
deepspeed
datasets==2.14.5
accelerate==0.21.0
peft==0.4.0
trl==0.7.1
scipy
sentencepiece
protobuf
tiktoken
fire
jieba
rouge-chinese
nltk
gradio==3.38.0
uvicorn
pydantic==1.10.11
fastapi==0.95.1
sse-starlette
matplotlib
pandas
tqdm
kaleido
cohere
openai
better_profanity
scikit-learn
wget